@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --background: 275 64% 99%;
    --foreground: 275 70% 3%;
    --muted: 275 7% 89%;
    --muted-foreground: 275 11% 38%;
    --popover: 275 64% 98%;
    --popover-foreground: 275 70% 2%;
    --card: 275 64% 98%;
    --card-foreground: 275 70% 2%;
    --border: 275 13% 93%;
    --input: 275 13% 93%;
    --primary: 275 65% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 275 10% 84%;
    --secondary-foreground: 275 10% 24%;
    --accent: 275 10% 84%;
    --accent-foreground: 275 10% 24%;
    --destructive: 6 88% 27%;
    --destructive-foreground: 6 88% 87%;
    --ring: 275 65% 60%;
    --chart-1: 275 65% 60%;
    --chart-2: 275 10% 84%;
    --chart-3: 275 10% 84%;
    --chart-4: 275 10% 87%;
    --chart-5: 275 68% 60%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 275 33% 1%;
    --foreground: 275 14% 97%;
    --muted: 275 7% 11%;
    --muted-foreground: 275 11% 62%;
    --popover: 275 33% 2%;
    --popover-foreground: 275 14% 98%;
    --card: 275 33% 2%;
    --card-foreground: 275 14% 98%;
    --border: 275 13% 11%;
    --input: 275 13% 11%;
    --primary: 275 65% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 275 9% 9%;
    --secondary-foreground: 275 9% 69%;
    --accent: 275 9% 9%;
    --accent-foreground: 275 9% 69%;
    --destructive: 6 88% 54%;
    --destructive-foreground: 0 0% 100%;
    --ring: 275 65% 60%;
    --chart-1: 275 65% 60%;
    --chart-2: 275 9% 9%;
    --chart-3: 275 9% 9%;
    --chart-4: 275 9% 12%;
    --chart-5: 275 68% 60%;
  }
}
